<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.obsidian-notify.check-tasks</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>YOUR_REPO_PATH/check_tasks.sh</string>
    </array>

    <!-- Edit Hour/Minute values to change schedule. -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>7</integer>
            <key>Minute</key>
            <integer>20</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>19</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>21</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>

    <key>StandardOutPath</key>
    <string>YOUR_REPO_PATH/notify.log</string>

    <key>StandardErrorPath</key>
    <string>YOUR_REPO_PATH/notify.log</string>
</dict>
</plist>
